@import '../mixins.module.scss';

.footer {
  background-color: white;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 4.75vw;
  text-transform: uppercase;
  .internal_links,
  .social_links {
    @include text_style;
    color: black;
    display: flex;
    align-items: center;
    gap: 3rem;
    svg {
      font-size: 2rem;
    }
  }
}
