@import '../mixins.module.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background-color: transparent;
  color: white;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  // padding: 0rem 6rem;
  padding: 0rem 4.75vw;
  .links {
    display: flex;
    align-items: center;
    gap: 4rem;
    text-transform: uppercase;
    // font-weight: 300;
    // font-size: 1.2rem;
    @include text_style;
    font-weight: 300;
  }
  .icon {
    // max-height: 6rem;
    // max-width: 15rem;
    margin: 1rem 0rem;
    max-width: 15rem;
    @include tablet {
      max-width: 100%;
    }
  }
}
